.App {
  text-align: center;
  height:100%;
  overflow-y: auto;
  perspective: 2px;
  
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.MainContainer {  
  text-align: center;
  background-color:#003f87;
  perspective: 1px;
  transform-style: preserve-3d;
  height: 100vh;
  overflow-y: scroll;
}

.banner{
  vertical-align: center;
  background: url("/images/splash.jpg");
  height: 30%;
  max-height: 300px;
  width: 70%;
  min-width: 1000px;

  display: inline-block;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  filter: drop-shadow(0 1rem 0.75rem black);

  position: relative;
  z-index: -1;
}


/* .ParallaxContainer {
  background-image: url("/images/splash.jpg");
  background-size: 200% auto;
  width:70%;
  top:-500px;
  right: 7px;
  vertical-align: top;
  height: 300px;
  position: relative;
  z-index: -1;
  transform: translateZ(-1px) scale(2);
  background-position: center;
  margin:0 auto;
  background-repeat: no-repeat;
} */

.ContentContainer {
  position: relative;
  top:-7px;
  bottom:0;
  left:0;
  right:0;
  min-height: calc(100% - 300px);
  background-color: white;
  margin: auto;
  padding: 10px;
  width:70%;
  min-width: 1000px;

  filter: drop-shadow(0 1rem 0.75rem black);
}


.page-title {
  margin-top: 1%;
  font-size: 2em;
}

.wrap {
  word-wrap: break-word;
  overflow-wrap: break-word;
}

#bypass {
  color: blue;
  background-color: red;
  position: fixed;
  top:-15%;
  right:0;
}

/* login page */
#username {
  display: block;
  margin: auto;
}

#password {
  display: block;
  margin: auto;
}

#login-btn {
  margin-top: 5px;
}

/* info page */
#info-login {
  right:0;
  top:12%;
  position: absolute;
  z-index: 999;
}

/* admin portal */
#filter-search {
  position: relative;
  padding: 6px;
  border: 1px solid grey;
  width: 20em;
  background: #f1f1f1;

}

.inline {
  display:inline-block;
  margin: 0 0px 0 10px;
}

/* Style the submit button */
.submit {
  padding: 6px;

  width: 5%;
  background: #2196F3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none; /* Prevent double borders */
  cursor: pointer;
}

.submit:hover {
  background: #0b7dda;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.tabBody {
  font-size: calc(10px + 2vmin);
}

.center {
  display: inline-block;
}

/* not using */
.login-button {
  border-color: blue;
  border: solid;
  border-radius: 10px;
  padding: 5px;
  margin-right: 10px;
}

/* not using */
.info-button {
  border-color: blue;
  border: solid;
  border-radius: 10px;
  padding: 5px;
  margin-left: 10px;
}

/* button style using western colors */
.button {
  color: #fff;
  background-color: #007ac8;
  border-width: 3px;
  display: inline-block;
  box-sizing: border-box;
  margin-bottom: 12px;
  margin-left: 12px;
  margin-right: 12px;
  padding: 12px 24px;
  cursor: pointer;
  transition: 600ms ease background-color;
    transition-property: background-color;
    transition-duration: 600ms;
    transition-timing-function: ease;
    transition-delay: 0s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  border-style: solid;
  border-color: transparent;
  border-radius: 100px;
  font-family: "Fira Sans", sans-serif;
  font-size: calc((16px + 4 * ((100vw - 300px) / 1000)) * 0.8);
  font-weight: 400;
  line-height: 1;
}

.button:hover {
  background-color:#003f87;

}

/* alternate button style, ugly colors from internet but has gradient */
.btn-gradient {
  text-decoration:none;
  background: #007ac8;
  color: white;
  padding: 10px 30px;
  display: inline-block;
  position: relative;
  border: 1px solid rgba(0,0,0,0.21);
  border-bottom: 4px solid rgba(0,0,0,0.21);
  border-radius: 4px;
  text-shadow: 0 1px 0 rgba(0,0,0,0.15);
  background: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(27,188,194,1)), to(rgba(24,163,168,1)));
    background: -webkit-linear-gradient(rgba(27,188,194,1) 0%, rgba(24,163,168,1) 100%);
    background: -moz-linear-gradient(rgba(27,188,194,1) 0%, rgba(24,163,168,1) 100%);
    background: -o-linear-gradient(rgba(27,188,194,1) 0%, rgba(24,163,168,1) 100%);
    background: linear-gradient(rgba(27,188,194,1) 0%, rgba(24,163,168,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1bbcc2', endColorstr='#18a3a8', GradientType=0);
}
.btn-gradient:active {
  background: #169499;
}
.btn-gradient:hover {
  text-decoration:none;
  
}

/* For mobile devices */
@media (max-width: 1000px) {
  .banner{
    height: 20%;
    width: 100%;
    min-width: 0px;
  }

  .ContentContainer {
    min-height: 80%;
    width:100%;
    min-width: 0px;
    filter: none;
  }

  .page-title {
    font-size: 1.5em;
  }

  #info-login {
    position: static;
  }

  #bypass {
    top:2%;
  }
  

}

.popup-content {
  font-size: 30px;
  padding: 3em !important;
}

/* Navbar */
.navbar {
  display: block;
  text-align: center;
}

.navbar ul {
  text-align: center;
  justify-content: center;
  list-style-type:none;
  white-space:nowrap;
}

.navbar li {
  display: inline;
  padding-right: 30px;
}

.navbar h1 {
  margin-bottom: 1rem;
}

.navbar .welcome {
  display: none;
}

/* Mobile Styles */
@media (max-width: 700px) {
  .container {
    margin-top: 8rem;
  }

  .hide-sm {
    display: none;
  }

  /* Text Styles */
  .x-large {
    font-size: 3rem;
  }

  .large {
    font-size: 2rem;
  }

  .lead {
    font-size: 1rem;
  }

  /* Navbar */
  .navbar {
    display: block;
    text-align: center;
  }

  .navbar ul {
    text-align: center;
    justify-content: center;
  }

  .navbar h1 {
    margin-bottom: 1rem;
  }

  .navbar .welcome {
    display: none;
  }
}

/* styling */

/* Text Styles*/
.x-large {
  font-size: 4rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.large {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.lead {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.text-center {
  text-align: center;
}

.text-primary {
  color: var(--primary-color);
}

.text-dark {
  color: var(--dark-color);
}

/* Padding */
.p {
  padding: 0.5rem;
}
.p-1 {
  padding: 1rem;
}
.p-2 {
  padding: 2rem;
}
.p-3 {
  padding: 3rem;
}
.py {
  padding: 0.5rem 0;
}
.py-1 {
  padding: 1rem 0;
}
.py-2 {
  padding: 2rem 0;
}
.py-3 {
  padding: 3rem 0;
}

/* Margin */
.m {
  margin: 0.5rem;
}
.m-1 {
  margin: 1rem;
}
.m-2 {
  margin: 2rem;
}
.m-3 {
  margin: 3rem;
}
.my {
  margin: 0.5rem 0;
}
.my-1 {
  margin: 1rem 0;
}
.my-2 {
  margin: 2rem 0;
}
.my-3 {
  margin: 3rem 0;
}

.btn {
  display: inline-block;
  background: var(--light-color);
  color: #333;
  padding: 0.4rem 1.3rem;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  margin-right: 0.5rem;
  transition: opacity 0.2s ease-in;
  outline: none;
}

.badge {
  font-size: 0.8rem;
  padding: 0.1rem;
  text-align: center;
  margin: 0.3rem;
  background: var(--light-color);
  color: #333;
}

.alert {
  padding: 0.8rem;
  margin: 1rem 0;
  opacity: 0.9;
  background: var(--light-color);
  color: #333;
}

.btn-primary,
.bg-primary,
.badge-primary,
.alert-primary {
  background: var(--primary-color);
  color: #fff;
}

.btn-light,
.bg-light,
.badge-light,
.alert-light {
  background: var(--light-color);
  color: #333;
}

.btn-dark,
.bg-dark,
.badge-dark,
.alert-dark {
  background: var(--dark-color);
  color: #fff;
}

.btn-danger,
.bg-danger,
.badge-danger,
.alert-danger {
  background: var(--danger-color);
  color: #fff;
}

.btn-success,
.bg-success,
.badge-success,
.alert-success {
  background: var(--success-color);
  color: #fff;
}

.btn-white,
.bg-white,
.badge-white,
.alert-white {
  background: #fff;
  color: #333;
  border: #ccc solid 1px;
}

.btn:hover {
  opacity: 0.8;
}

.bg-light,
.badge-light {
  border: #ccc solid 1px;
}

.round-img {
  border-radius: 50%;
}

.line {
  height: 1px;
  background: #ccc;
  margin: 1.5rem 0;
}

/* Overlay */
.dark-overlay {
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
